train/TransformerTranslator_50000_best.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_10000_best.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_100000_best.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_50000_best.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_10000_final.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_100000_final.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_150000_final.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_200000_best.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_200000_final.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_10000_final.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_150000_final.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_10000_best.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_150000_best.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_75000_best.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_75000_final.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_100000_final.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_200000_final.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_75000_best.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_75000_final.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_100000_best.pt filter=lfs diff=lfs merge=lfs -text
train/TransformerTranslator_50000_final.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_150000_best.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_200000_best.pt filter=lfs diff=lfs merge=lfs -text
train/BiLSTMTranslator_50000_final.pt filter=lfs diff=lfs merge=lfs -text
